<?xml version='1.0' encoding='UTF-8'?>
<TTKDownloader>
    <plusSetting>
        <geometry value="492,242,980,661"/>
        <closeEventMode value="1"/>
        <startUpMode value="0"/>
        <startUpRunMode value="0"/>
        <slienceRunMode value="0"/>
    </plusSetting>
    <backgroundSetting>
        <backgroundThemeValue value="theme-29"/>
        <backgroundTransparent value="0"/>
    </backgroundSetting>
    <downloadSetting>
        <downloadMode value="1"/>
        <downloadMaxCount value="0"/>
        <downloadLimit value="0"/>
        <downloadPathDir value=""/>
        <downloadDLoadLimit value=""/>
        <downloadULoadLimit value=""/>
    </downloadSetting>
    <skinSetting>
        <skinEffectLevel value="2"/>
        <skinSuspension value="0"/>
        <skinSuspensionValue value="0"/>
    </skinSetting>
</TTKDownloader>
